<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>
        <%= htmlWebpackPlugin.options.env.npm_package_name || '[[Package Name]]' %> v
            <%= htmlWebpackPlugin.options.env.npm_package_version || '0.0.0' %>
    </title>
    <meta name="description" content="<%= htmlWebpackPlugin.options.env.npm_package_description || '[[Package Description]]' %>">
    <link href="http://fonts.googleapis.com/css?family=Noto+Sans|Roboto:400,300,500" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>

<body>
    <div id="main"></div>
</body>

</html>